/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */




.media-object__media {
	display: none;
}

.media-object-container {
	border: solid 3px #111;
	padding: 20px 20px 0;
	margin-bottom: 15px;
}

@media screen and (min-width: 500px) {
	.media-object-container {
	  display: grid;
	  grid-template-columns: fit-content(200px) 1fr;
	  grid-template-rows:1fr auto;
	  grid-template-areas:
		"area-media area-object"
		"area-media area-footer";
	  grid-gap: 20px;
	}

	.media-object-container--flipped  {
	  grid-template-columns: 1fr fit-content(250px);
	  grid-template-areas:
		"area-object area-media"
		"area-footer area-media";
	}

	.media-object__media {
	  display: block;
	  grid-area: area-media;
	}

	.media-object__object {
	  grid-area: area-object;
	}

	.footer {
	  grid-area: area-footer;
	}

  }

  .entry-content .cpl-flex--mini {
	margin-left: 0;
}

/* have to override the default */
.entry-content .cpl-flex--mini__item {
		list-style-type: none;
		justify-content: center;
		padding-bottom: 0;
		margin-bottom: 0
}

@media screen and (max-width: 979px) {
.entry-content .cpl-flex--mini__item {
padding: .75rem;
}
}

/* added the h3 to overrule overspecific styling in parent theme */
h3.cpl-flex--mini__item-name {
	font-size: 1.25em;
	font-weight: 650;
	margin-top: 0 !important;
}

.cpl-flex--mini__item-date {
	font-weight: 500;
}

.cpl-flex--mini__item > p {
	margin-top: 1em;
}

